@page
@model LoginModel

@{
ViewData["Title"] = "Авторизация";
}
<div class='registration-container'>
    <h1 class='registration-header'>@ViewData["Title"]</h1>
        <form class='registration-form' id="account" method="post">
            <div asp-validation-summary="All"></div>
            <div class='registration-row'>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class='registration-row'>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class='registration-row checkbox-input'>
                <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <div class='registration-row submit-registration-form'>
                <button type="submit" class="btn btn-primary">Авторизация</button>
                <a href="/Identity/Account/Register" class='has-account'>Нет аккаунта? Зарегистрируйтесь!</a>
            </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
